<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" media="all" href="/login.css" th:href="@{/login.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="bg-dark">
  <div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/login}">Login</a>
  </div>
  <div class="container bg-dark">
    <h2 class="bg-dark text-white mt-5"> Create a new User Account</h2>
    <div th:remove="tag">
      <div class="row bg-black">
        <div class="col-md-6 col-md-offset-3">
          <form>
            <div class="form-group">
              <label for="username"></label>
              <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
                placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password"></label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info"
                    value="Create">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
  </div>
  <script src="static/createUserHandler.js"></script>
</body>

</html>