<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <!--<meta charset="ISO-8859-1">-->
  <!--<meta charset="UTF-8">-->
  <meta http-equiv="content-type" content="text/html" charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parking Event</title>
  <link rel="stylesheet" type="text/css" media="all" href="/form.css" th:href="@{/form.css}"/>
</head>
<body>

<div class="topnav">
  <a th:href="@{/}">Home</a>
  <a th:href="@{/login}">Login</a>
</div>

  <div class= "container">
    <h2>Parking</h2>
    <form method="post" th:object="${parkingEvent}" th:action="@{/api/parkingevent}">
      <label>
        <input type="datetime-local" placeholder="Stoptime" th:field="*{stoptime}">
      </label>
      <label>
        <input type="number" placeholder="Car" th:field="*{car}">
      </label>
      <label>
        <input type="number" placeholder="Parking location" th:field="*{parkingSpot}">
      </label>

      <!-- <input type="hidden" th:field="*{id}">-->
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>

